




body {
  background-color:black;
}
h1, h4 {
  text-align:center;
  color:white;
}
#getit {
  text-align:center;
}
#buttonw {
  position:fixed;
  margin-left:-55px;
}
#temp {
  position:fixed;
  margin-left:60px;
}
#icon {
  text-align:center;
  visibility:hidden;
}